body {
    /* background-color: black; */
    background-image: url('../images/background.jpg')
}

hr {
    background-color: darkslategray;
    border-color: darkslategrey;
    height: 1px;
}

#counter {
    text-align: center;
    background-color: lightblue;
}
.row {
    /* height: 100px; */
    background-color:white;
    border-style: solid;
    border-color:lightblue;
    border-radius: 15px;
    margin: 1% 0 1% 0
}

.col {
    /* height: 100px; */
    background-color:white;
    border-style: solid;
    border-color:lightblue;
    border-radius: 15px;
}
