body {
    /* background-color: black; */
    background-image: url('../images/background-2.jpg');
    background-size: 1920px;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color:rgb(159, 224, 224);
    color: black;
}

hr {
    background-color: darkslategray;
    border-color: darkslategrey;
    height: 1px;
}

#counter {
    text-align: center;
    background-color: lightblue;
}
.row {
    /* height: 100px; */
    background-color:white;
    border-style: solid;
    border-color:lightblue;
    border-radius: 15px;
    margin: 1% 0 1% 0
}

.col {
    /* height: 100px; */
    background-color:white;
    border-style: solid;
    border-color:lightblue;
    border-radius: 15px;
}


#logo {
    margin-right: 75px;
}